body {
    margin: 0;
    padding: 0;
    font-family: 'lato', sans-serif;
    background: #fff;
    overflow-x: hidden;
}

/* generic styles */
a {
    text-decoration: none;
}

.hide {
    display: none;
}

.video {
    width: 100%;
    position: relative;
    top: -2rem;
}

.active {
    color: #fff !important;
}

.row {
    display: flex;
    flex-direction: row;
}

/* header */
header {
    width: 100%;
    padding: 2.5%;
    background-color: #000;
    z-index: 100;
    position: fixed;
}

.header-wrapped {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    width: 25%;
}

.logo img {
    width: 50%;
}

.navigation {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 60%; 
}

.navigation a {
    padding: 0 2%;
    color: #BEBEBE;
}

/* intro section */
.intro-wrapped {
    margin: 5% 2.5%;
}

.intro-wrapped img {
    width: 45%;
}

.intro-text {
    width: 50%;
}

.intro-top {
    justify-content: space-between;
}

.intro-bottom {
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 5%;
}

.intro-btn {
    background-color: #000; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}