body {
    margin: 0;
    padding: 0;
    font-family: 'lato', sans-serif;
    background: #fff;
    overflow-x: hidden;
}

/* generic styles */
a {
    text-decoration: none;
}

.hide {
    display: none;
}

.video {
    width: 100%;
    position: relative;
    top: -2rem;
}

.active {
    color: #fff !important;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

hr {
    border: 1px solid #000;
    margin: 0;
}

.gen-margin {
    margin: 5% 2.5%;
}

.gen-p {
    font-size: 1.25rem;
    font-weight: 300;
    margin: 2.5% 0;
}

.text-center {
    text-align: center;
}

.title {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 2%;
}

/* header */
header {
    width: 100%;
    padding: 2.5%;
    background-color: #000;
    z-index: 100;
    position: fixed;
}

.header-wrapped {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    width: 25%;
}

.logo img {
    width: 50%;
}

.navigation {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 60%; 
}

.navigation-a {
    padding: 0 2%;
    color: #BEBEBE;
    transition: all .5s;
}

.navigation-a:hover {
    color: #fff;
}

.navigation-button {
    display: none;
}

/* contact us button */
.sticky-contact-us {
    position: fixed;
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    cursor: pointer; 
    padding: 15px 5px; 
    font-size: 18px; 
    color: #fff;
    background: #000;
    border: 2px solid #000;
    border-radius: 10px;
    transition: all .5s;
}

.sticky-contact-us:hover {
    background: #EE721A;
    color: #000;
}

/* intro section */

.intro-wrapped img {
    width: 45%;
}

.intro-text {
    width: 50%;
}

.intro-top {
    justify-content: space-between;
}

.intro-bottom {
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 5%;
}

.intro-btn {
    background-color: #000; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/* services */

.service-icons {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
}

.icons {
    justify-content: center;
    align-items: center;
}

.service-icons img {
    width: 75%;
}

.icon-text {
    font-size: 1rem;
    font-weight: 500;
}

/* our work */
 
.our-work-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 5%;
}

.work-card {
    position: relative;
    width: 100%;
}

.work-card img{
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.work-overlay {
    transition: .5s ease;
    opacity: 0;
    position: relative;
    bottom: 92%;
    width: 100%;
    height: 87%;
    text-align: center;
    background: #000;
}

.work-card:hover .work-card img {
    opacity: 0.3;
}
  
.work-card:hover .work-overlay {
    opacity: 0.75;
}

.overlay-wrapped {
    position: absolute;
    top: 30%;
    left: 30%;
    font-size: 2rem;
    color: #fff;
}

.overlay-wrapped p{
    text-align: center;
}


/* website process */

.process-grid {
    display: grid;
    grid-template-columns: 48% 48%;
    margin-top: 5%;
    grid-gap: 4%;
}


.process-cards {
    text-align: center;
    border: 1px solid #000;
    border-radius: 10px;
    margin-bottom: 4%;
}

.process-cards a p {
    padding-right: 5%;
}

.process-btn {
    background-color: #000; 
    border: none;
    border-radius: 20px;
    color: #fff;
    padding: 0 10%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1em;
    cursor: pointer;
    width: 40%;
    transition: all .5s;
}

.p-btn-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.process-btn:hover {
    background-color: #7E7E7E;
    color: #000;
}

/* footer */
footer {
    width: 100%;
    background-color: #000;
    position: relative;
    bottom: 0;
    margin-top: 5%;
}

.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
}

.footer-content img {
    width: 25%;
}

.footer-navigation {  
    display: inline;
    width: 100%;
    margin-top: 5%;
    text-align: center;
}

.footer-navigation a {
    padding: 0 2%;
    color: #BEBEBE;
}

/* responsiveness */

@media (max-width: 800px) {
    /* generic-styles */
    .title {
        font-size: 2.5rem;
    }

    .gen-p {
        font-size: 1rem;
    }

    .video {
        top: 0;
    }

    /* intro section */
    .intro-bottom, .intro-top {
        flex-direction: column-reverse;
    }    

    .intro-text {
        width: 100%;
        text-align: center;
    }

    .intro-text h1, p {
        text-align: left;
    }

    .intro-wrapped img {
        width: 100%;
        margin-top: 5%;
    }

    /* work  */
    .overlay-wrapped {
        top: 20%;
        left: 20%;
    }
}

@media (max-width: 700px) {

    /* generic styles */
    .title {
        font-size: 2rem;
    }

    /* process secvtion */

    .process-cards h1 {
        font-size: 1.5rem;
    }

    .process-cards p {
        width: 75%;
        margin: 1em auto;
        text-align: center;
    }

    .process-btn {
        width: 50%;
    }

    /* work  */
    .overlay-wrapped {
        top: 17%;
        left: 17%;
    }
}

@media (max-width: 600px) { 

    /* generic styles */
    .title {
        font-size: 1.8rem;
    }

    /* navigation */
    .navigation {
        display: none;
    }

    .navigation-button {
        display: block;
        width: 45%;
        text-align: right;
        color: #C8C7C6;
        font-size: 1.5rem;
        transition: all .5s;
    }

    .navigation-button:hover {
        color: #fff;
    }

    .logo {
        width: 50%;
    }

    /* navigation small */
    .show-mobile-nav {
        height: 250px !important;
        display: block !important;
        -webkit-transition: height 5s;
        transition: height 5s;
    }

    .extend-nav {
        height: 0;
        -webkit-transition: height .5s;
        transition: height .5s;
        display: none;
    }

    .mobile-nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        padding-top: 25px;
    }

    .mobile-nav ul {
        padding: 0;
        width: 100%;
        border-bottom: 1px solid #BEBEBE
    }

    .mobile-nav ul li {
        margin-bottom: 15px;
    }

    /* fixed button */
    .sticky-contact-us {
        display: none;
    }

    /* service */
    .service-icons {
        grid-template-columns: 50% 50%;
    }

    /* our work */

    .our-work-grid {
        grid-template-columns: 100%;
    }

    .overlay-wrapped {
        top: 30%;
        left: 30%;
    }    

    /* process */

    .process-grid {
        grid-template-columns: 100%;
    }
    
    /* footer */
    footer {
        margin-top: 25%;
    }
}


@media (max-width: 400px) { 

    /* generic */
    .gen-margin {
        margin: 15% 5%;
    }

    .title {
        font-size: 1.2rem;
    }

    .gen-p {
        padding: 4% 0;
    }

    /* header */
    .logo img {
        width: 100%;
    }

    

    /* video */

    .video {
        margin-top: 8%;
    }

    /* intro */
    .intro-text h1{
        font-size: 1.5rem;
    }

    /* services */
    .service-icons {
        grid-template-columns: 100%;
        margin-bottom: 15%;
    }

    /* work */
    .overlay-wrapped {
        top: 20%;
        left: 18%;
    }

    /* footer */

    footer {
        margin-top: 40%;
    }
}

